<div class="form" style="width: 850px">
<div class="header">

<h1 style="text-align: center">Eat & Move is the combination of two web services</h1>
<hr style="border: solid 1px #444; margin-bottom: 50px;"/>

<h1>- With CyberCoach, you can manage your training sessions </h1>
<h1 style="margin-bottom: 50px">- With FatSecret, you can monitor your calories consumption</h1>

<h1>What you can do:</h1>


<ul style="margin-left: 50px ">
<li><h1>plan your exercice sessions;</h1></li>
<li><h1>calculate your daily calories needed;</h1></li>
<li><h1>coach your diet;</h1></li>
<li><h1>watch and manage your weight history.</h1></li>

</ul>

</div> 
</div>