@import url(http://fonts.googleapis.com/css?family=Faster+One);

a {
 color: #444;
 text-decoration: none;
}

#page{

 padding: 10px;
  border-radius: 5px;
 box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 color: #444;
}

#header{
 font-family: 'Faster One', cursive;
 font-size: 20px;
}
#header a {
 color: #fff;
}

#menu, #footer{
 margin-bottom: 10px; margin-top: 10px;
 font-size : 12px;
 text-align : center;
 background: #f3f3f3;
 border: 1px solid #fff;
 border-radius: 5px;
 box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 color: #8ebdcb;
}

#home {
 text-align: left;
 color: #444;
}



 
#menu ul {
 margin : 0;
 padding : 0;
}
#menu ul li {
 display : inline-block;
 list-style-type : none;
}
#menu ul li a {
 display : block;
 text-decoration : none;
 color : #8ebdcb;
 text-transform : uppercase;
 padding : 10px;
}
#menu ul li a:hover, #menu ul li a.current {
 background-color : #8ebdcb;
 color : #fff;
}


hr  {
 border: solid 1px white;
}




.clear {
 clear: both;
}

#error {
 width: 400px;
 margin: 0 auto;
 background-color: #444;
 color: #fff;
 text-align: center;
 margin-bottom: 10px;
 font-size: 20px;
}


