#my_container{
 margin: 0px;
 color: #444;
 background: #f3f3f3;
 border: 1px solid #fff;
 box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
 -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5); 
}

/* heading in the canvas */
#my_container .fatsecret_heading {
 color: #444;
}

/* the navigation */
#fatsecret_nav {
 //background-color: #0089a3;
 //background: #d4dedf 

}

/* navigation element */
#fatsecret_nav td {
 text-align: center;
}

/* navigation link */
#fatsecret_nav a {
 color: #8ebdcb;
 line-height: 2em;
 vertical-align: middle;
}

.fatsecret_footer {
 padding: 10px 0 10px 2.5%;
 margin-top: 5px;
 text-align: center;
 background: #d4dedf; 
 border-top: 1px solid white;
}














